
.container{
    max-width: 1170px !important;
}
.home-content{
    background-color: #f2f2f2;
}
.home-content aside{
   background:     linear-gradient(
      rgba(255, 255, 255, 0.7), 
      rgba(255, 255, 255, 0.7) 
    ),
url('./assets/home-img1.jpg') no-repeat center center / cover;
padding: 3rem 2rem;
    font-size: 18px;
    line-height: 30px;
   
   
    /* max-width: 1500px;  */
    /* width: 100%; */
   
    margin-top: 3rem

    
}
.home-content strong{
    font-size: 30px;
}

.home-content strong:first-of-type {
      font-size: 36px;
}




.about-content{
    background: #f2f2f2;
    margin-top: 5rem;
}
.about-content p{
    font-size: 18px;
    padding: 1rem;
    max-width: 1170px;
    margin: 0 auto;
}

.faq-content{
margin: 0 auto;
font-size: 20px;
 line-height: 24px;
}
 .faq-content p{
    padding: 1rem;
}
.faq-content span{
    text-decoration: underline;
    color: #035c8a;
}

.faq {
    font-size: 18px;
    margin: 0 auto !important; 
    padding: 0 1rem !important; 
    background: white;
  
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.5s ease;
}

.faq-display {
    
    max-height: 1000px; 
    transition:  max-height 0.5s ease;
    margin: 0rem auto !important;
}




.faq ul{
    list-style: disc !important;
    padding: 1rem;
    margin: 0 1rem;
}
.faq span{
    text-decoration: underline;
     color: #035c8a;
}

.modal{
    
    font-size: 24px;
    padding: 1rem ;
    
}
.modal h2{
    text-align: center;
    font-weight: 600;
}
.modal p{
     padding: 1rem 0.5rem ;
}
.modal-content{
    overflow-y: scroll;
}
#modal5 ul{
    padding: 1rem ;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
    
  }
}


.animate-slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

.refer-content{
    font-size: 18px;
    padding: 1rem;
    margin: 1rem auto;
}
.refer-content span{
    text-decoration: underline;
    color:  #035c8a;
}
.refer-content h6{
    font-size: 15px;
    line-height: 1.2;
   
}


@media (max-width: 468px) {
    .modal{
        font-size: 18px;
    }
    
}
@media (min-width: 640px) {
   .faq {
   
    margin: 0 auto !important; 
    padding: 0 3.2rem !important; 
}
.about-content{
    
    margin-top: 0rem;
}
.home-content aside{
    margin-top: 0;
}

}
@media (min-width: 768px) {
    .modal p{
     padding: 0 3rem ;
}
#modal5 ul{
    padding: 0 3rem ;
}
.home-content aside,.about-content{
    margin-top: 0rem
}
.home-content aside{
    
     display: grid;
     justify-self: center;
       font-size: 24px;
       max-width: 1140px;
       margin: 0 auto;
}
.home-content{
    padding: 1rem 0;
}
    .about-content p{

        padding: 3rem;
        font-size: 24px;
    }
    .faq-content,.faq ,.refer-content{
        max-width: 768px;
       
    }
    .faq-content p{
    padding: 2rem 3rem;
    font-size: 24px;
 line-height: 30px;
}
.refer-content{
    padding: 1rem 4rem;
      font-size: 24px;


}
.refer-content h6{
    font-size: 17px;
    
}
.faq{
    margin: 0 auto;
    padding: 4rem;
     font-size: 24px;
}


}
@media (min-width: 1280px) {
  
    .about-content p,.faq-content ,.faq,.refer-content{
        max-width: 1170px;

    }
}
@media (min-width: 1536px) {
      .home-content aside{
        margin-inline: auto;
    }
    .about-content p,.faq-content ,.faq,.refer-content{
        max-width: 1170px;
    }
}


